<template name="buildingsView">
    <div class="buildingsView">
        {{>buildingsGrid}}
    </div>
</template>

<template name="buildingsGrid">
    <div id="navigation" style="float: right">
        <span class="label label-info">{{bldgKey}}</span>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default navigate-out-of">
                <img src="/images/left-up.png" width="16px">
            </button>
            <button type="button" class="btn btn-default navigate-up">
                <img src="/images/up.png" width="16px">
            </button>
            <button type="button" class="btn btn-default building">
                <img src="/images/building.png" width="16px">
            </button>
            <button type="button" class="btn btn-default navigate-down">
                <img src="/images/down.png" width="16px">
            </button>
            <button type="button" class="btn btn-default navigate-into">
                <img src="/images/right-down.png" width="16px">
            </button>
        </div>
    </div>
    <div id="display">
    </div>
    <br/>

    <p class="help-block">
        <strong>Tip:</strong> Use the mouse scroll to zoom, and drag the view to move around
    </p>
    <span class="small"><a href="https://icons8.com/free-ios-7-icons-in-vector">iOS icons by Icons8</a></span>
</template>
